body {
	font-family: 'Raleway', sans-serif;
    margin: 0 auto;
	padding: 0 auto;
	font-size: 16px;
	color: #CCC;
	line-height: 1.6;
	background-color: #11051C;
}

h1,h2,h3,h4,h5 {
	margin: 0 auto;
}

h1 {
	font-size: 300px;
	color: #413749;
}

h2 {
	font-size: 60px;
	color: white;
	font-weight: 600;
}

h3 {
	font-size: 44px;
	color: white;
	font-weight: 200;
}


/*header section*/

header {
	height: 100%;
	max-height: 100px;
	margin: 0 auto;
	padding: 0 auto;
	background: #0E0E0E;
}

nav {
	display: inline-block;
}


ul {
	margin: 0 auto;
	padding-inline-start: 0px;
	display: inline-flex;
	list-style-type: none;
}

li {
	margin-right: 80px;
	display: inline-block;
	vertical-align: top;
}

a {
	text-decoration:none;
	font-weight: 600;
	font-size: 28px;
	color: #D2D1D4;
	transition: color 0.8 linear;
}

a:hover {
	color: #FFF;
}

.logo {
	margin-top: 20px;
}

.text-nav {
	margin-top: 32px;
	margin-left: 130px;
	margin-right: 218px;
}

.login li {
	margin: 0 auto;
	margin-top: 34px;
	margin-right: 16px;
}

hr {
	margin: 0 auto;
}

section {
	width: 100%;
	max-width: 1448px;
	margin: 0 auto;
}

/*confrimation block*/

.confirm-block {
	margin-top: 164px;
	margin-bottom: 120px;
	margin-left: 146px;
	width: 956px;
	height: 714px;
	border-radius: 4px;
	border: 4px solid #333840;
	padding-top: 54px;
	padding-left: 123px;
	padding-right: 123px;
	padding-bottom: 100px;
}

.confirm-block h2,h3 {
	text-align: center;
}

.confirm-block h2 {
	font-size: 32px;
	font-weight: 600;
}

.confirm-block h3 {
	font-size: 24px;
	font-weight: 350;
}

.confirm-column {
	display: flex;
	margin-top: 64px;
	margin-bottom: 40px;
}

.confirm-name {
	margin-right: 200px;
}

.confirm-column ul {
	flex-direction: column;
}

.confirm-column ul p {
	margin: 0;
	margin-bottom: 12px;
	font-size: 20px;
	font-weight: 350;
	color: white;
}

.confirm-caption {
	font-size: 20px;
	font-weight: 600;
}

.confirm-button {
	margin-top: 140px;
	text-align: center;
}

/*footer section*/

footer {
	position: relative;
	height: 100%;
	height: 500px;
	background-color: #0E0E0E;
	padding-top: 100px;
}

.footer-conteiner{
	display: flex;
}

.text-bar {
	display: flex;
}

.text-bar ul {
	margin-left: 28px;
	margin-right: 200px;
}

.text-bar a {
	font-weight: 200;
	color: #FFF;
}

.footer-text {
display: flex;
flex-direction: column;
}

.logo-foor {
	max-width: 120px;
	max-height: 60px;
	margin-right: 100px;
	display: block;
}

footer p {
	margin: 0 auto;
	margin-top: 60px;
	margin-left: 0;
	font-size: 24px;
	color: white;
}

.bottom-footer_img {
	margin-top: 60px;
	margin-left: 80px;
	width: 34px;
	height: 34px;
} 