body {
	font-family: 'Raleway', sans-serif;
    margin: 0 auto;
	padding: 0 auto;
	font-size: 16px;
	color: #CCC;
	line-height: 1.6;
	background-color: #11051C;
}

h1,h2,h3,h4,h5 {
	margin: 0 auto;
}

h1 {
	font-size: 300px;
	color: #413749;
}

h2 {
	font-size: 60px;
	color: white;
	font-weight: 600;
}

h3 {
	font-size: 44px;
	color: white;
	font-weight: 200;
}


/*header section*/

header {
	height: 100%;
	max-height: 100px;
	margin: 0 auto;
	padding: 0 auto;
	background: #0E0E0E;
}

nav {
	display: inline-block;
}


ul {
	margin: 0 auto;
	padding-inline-start: 0px;
	display: inline-flex;
	list-style-type: none;
}

li {
	margin-right: 80px;
	display: inline-block;
	vertical-align: top;
}

a {
	text-decoration:none;
	font-weight: 600;
	font-size: 28px;
	color: #D2D1D4;
	transition: color 0.8 linear;
}

a:hover {
	color: #FFF;
}

.logo {
	margin-top: 20px;
}

.text-nav {
	margin-top: 32px;
	margin-left: 130px;
	margin-right: 218px;
}

.login li {
	margin: 0 auto;
	margin-top: 34px;
	margin-right: 16px;
}

hr {
	margin: 0 auto;
}

section {
	width: 100%;
	max-width: 1448px;
	margin: 0 auto;
}

/*login block*/

.login-block {
	margin-left: auto;
    margin-right: auto;
	width: 440px;
	margin-top: 184px;
	margin-bottom: 184px;
}

.login-block h1 {
	font-size: 52px;
	font-weight: 600;
	color: white;
	text-align: center;
}

/*-------------------inputs-----------------*/

.login-input {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.login-email {
	margin-top: 64px;
	margin-bottom: 32px;
}

.login-email input {
	font-family: 'Raleway', sans-serif;
	padding-left: 8px;
	border: 1px solid white;
	border-radius: 3;
	font-size: 16px;
	background: none;
	width: 100%;
	height: 40px;
	color: white;
}

.login-pass input {
	font-family: 'Raleway', sans-serif;
	padding-left: 8px;
	border: 1px solid white;
	border-radius: 3;
	font-size: 16px;
	background: none;
	width: 100%;
	height: 40px;
	color: white;
}

/*-------------------inputs-----------------*/

.login-button {
	text-align: center;
	margin-top: 64px;
}

/*footer section*/

footer {
	position: relative;
	height: 100%;
	height: 500px;
	background-color: #0E0E0E;
	padding-top: 100px;
}

.footer-conteiner{
	display: flex;
}

.text-bar {
	display: flex;
}

.text-bar ul {
	margin-left: 28px;
	margin-right: 200px;
}

.text-bar a {
	font-weight: 200;
	color: #FFF;
}

.footer-text {
display: flex;
flex-direction: column;
}

.logo-foor {
	max-width: 120px;
	max-height: 60px;
	margin-right: 100px;
	display: block;
}

footer p {
	margin: 0 auto;
	margin-top: 60px;
	margin-left: 0;
	font-size: 24px;
	color: white;
}

.bottom-footer_img {
	margin-top: 60px;
	margin-left: 80px;
	width: 34px;
	height: 34px;
} 
.submit {
    font-family: Raleway;
    color: #707070;
    background-color: transparent;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    /*border-radius: 20px;*/
    padding: 0px 40px;
    border: 1px solid #707070;
    transition: .2s;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 20px 0 10px;
}	
